{% extends 'basic.html' %}
{% load static %}
{% block title %}投票首页{% endblock %}
{% block content %}
{#  正文内容  #}
    <div>
        <h1 class="text-center text-warning">投票首页</h1>
{#  从数据库中读取数据  #}
        <div class="h4">
{#    定义有序列表    #}
            <ol>
{#      使用for循环遍历出来      #}
                {% for question in questions %}
                    <li>
                        <a href="{% url 'detail' question.id %}" target="_blank">
{#            问题内容                #}
                            {{ question.question_text }}
                        </a>
{#           问题日期             #}
                        {{ question.pub_date }}
                    </li>
                {% endfor %}
            </ol>
        </div>
{% endblock %}